@media (min-width: 700px) and (max-width: 1024px){
    #main{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    #main-section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 700px;
        max-height: 780px;
        border-radius: 12px;
        border: 1px solid black;
        gap: 10px;
        background-color: white;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 80px;
    }
    #form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        gap: 15px;
        width: 100%;
    }
    label{
        font-size: 18px;
    }
    #btn-container{
        display: flex;
        justify-content: center;
    }
    #btn{
        height: 40px;
        width: 150px;
        background-color: rgb(115, 167, 39);
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    #btn:hover{
        background-color: rgb(101, 146, 33);
    }
    #reunion-imagen{
        width: 700px;
        height: 450px;
    }
    .input-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .select-input{
        width: 350px;
        height: 35px;
        border-radius: 5px;
        border: 1px solid black;
    }
    #demo-multiple-checkbox-label{
        font-size: 11px;
    }
    #name_and_last_name_form_toki{
        width: 350px;
        max-width: 350px;
        max-height: none;
    }
}

@media (min-width: 1025px) and (max-width: 1440px){
    #main{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    #main-section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 700px;
        max-height: 650px;
        border-radius: 12px;
        border: 1px solid black;
        gap: 10px;
        background-color: white;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 80px;
    }
    #form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        gap: 15px;
        width: 100%;
    }
    label{
        font-size: 18px;
    }
    #btn-container{
        display: flex;
        justify-content: center;
    }
    #btn{
        height: 40px;
        width: 150px;
        background-color: rgb(115, 167, 39);
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    #btn:hover{
        background-color: rgb(101, 146, 33);
    }
    #reunion-imagen{
        width: 400px;
        height: 280px;
    }
    .input-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .select-input{
        width: 350px;
        height: 35px;
        border-radius: 5px;
        border: 1px solid black;
    }
    #demo-multiple-checkbox-label{
        font-size: 11px;
    }
    #name_and_last_name_form_toki{
        width: 350px;
        max-width: 350px;
        max-height: none;
    }
}

@media (min-width: 1441px){
    #main{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    #main-section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 1100px;
        max-height: 780px;
        border-radius: 12px;
        border: 1px solid black;
        gap: 10px;
        background-color: white;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 80px;
    }
    #form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        gap: 15px;
        width: 100%;
    }
    label{
        font-size: 18px;
    }
    #btn-container{
        display: flex;
        justify-content: center;
    }
    #btn{
        height: 40px;
        width: 150px;
        background-color: rgb(115, 167, 39);
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    #btn:hover{
        background-color: rgb(101, 146, 33);
    }
    #reunion-imagen{
        width: 700px;
        height: 450px;
    }
    .input-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .select-input{
        width: 350px;
        height: 35px;
        border-radius: 5px;
        border: 1px solid black;
    }
    #demo-multiple-checkbox-label{
        font-size: 11px;
    }
    #name_and_last_name_form_toki{
        width: 350px;
        max-width: 350px;
        max-height: none;
    }
}