#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section{
    max-height: 667px;
    margin-top: 35px;
    border: 1px solid lightgray;
    overflow-y: scroll;
}
#table{
    border-collapse: collapse;
    width: 939px;
    border: 1px solid lightgray;
    text-align: left;
}
#thead{
    height: 66px;
}
.th{
    background-color: rgb(131, 170, 73);
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    width: 164px;
}
#th-meeting{
    width: 259px;
}
.td{
    padding: 20px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}
#tipo_reunion_td{
    text-align: left;
}
#meeting-tr{
    cursor: pointer;
}
#meeting-tr:hover{
    background-color: rgba(136, 197, 45, 0.233)
}
#delete-button{
    cursor: pointer;
}
#delete-button:hover{
    background-color: rgba(255, 0, 0, 0.158);
}