.main{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    margin-top: 90px;
    padding-bottom: 30px;
}
/* Header Section and Buttons */

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 250px;
    padding: 40px 100px 50px 50px;
    margin-top: 50px;
    border-radius: 16px;
    background: linear-gradient(150deg, #3b5513, #73a727);
    box-sizing: border-box;
}
.header-section-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo{
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
    object-fit: contain;
}
.logo:hover{
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}
.header-section h1{
    height: 24px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.header-section p{
    font-size: 20px;
    color: #f0fdf4;
}

/* Content Section */

.content-section{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    min-height: 800px;
    margin-top: 30px;
    padding: 30px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
}
.content-section header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
}
.content-section header .header-title{
    display: flex;
    align-items: center;
    gap: 8px;
}
.content-section header .header-title h1{
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
}
.content-section header .header-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}
.content-section header div .meeting-type-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 250px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #16a34a;
    font-size: 14px;
    font-weight: bold;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.content-section header div .meeting-type-button:hover{
    background-color: #15803d;
}
.content-section .content{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 700px;
    max-height: 720px;
    gap: 16px;
    margin-top: 20px;
    overflow-y: auto;
}
.content-section .content table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
}
.content-section .content table thead{
    height: 50px;
    border: 1px solid lightgray;
}
.content-section .content table thead tr th{
    width: 350px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    color: #6b7280;
    text-align: left;
    padding: 0px 0px 0px 20px;
}
.content-section .content table tbody tr td{
    box-sizing: border-box;
    font-size: 16px;
    height: 150px;
    padding: 0px 0px 0px 20px;
    border-bottom: 1px solid lightgray;
    text-align: left;
}
.content-section .content table tbody tr:hover{
    background-color: #f9fafb;
    transition: 0.1s ease-in-out;
}
.content-section .content table tbody tr td a{
    color: #16a34a;
    text-decoration: none;
}
.content-section .content table tbody tr td a:hover{
    color: #166534;
    text-decoration: underline;
}
.content-section .content table tbody tr td input {
    display: flex;
    box-sizing: border-box;
    height: 40px;
    width: 200px;
    padding: 8px;
    font-size: 14px;
    color: #1f2937;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background-color: white;
}
.content-section .content table tbody tr td select {
    display: flex;
    box-sizing: border-box;
    height: 40px;
    width: 300px;
    padding: 8px;
    font-size: 14px;
    color: #1f2937;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background-color: white;
}
.content-section .content table tbody tr td .input-color {
    display: flex;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    padding: 4px;
    font-size: 14px;
    color: #1f2937;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background-color: white;
}
.content-section .content table tbody tr td button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    background-color: inherit;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.content-section .content table tbody tr td button svg:hover{
    stroke: #166534;
}
.content-section .content table tbody tr td div {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Modal */
.modal-overlay{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    width: 700px;
    max-width: 700px;
    height: 500px;
    padding: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 5001;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal header {
    display: flex;
    justify-content: center;
}
.modal header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
}
.modal form fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
    border: none;
}
.modal form fieldset input {
    display: flex;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    color: #1f2937;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background-color: white;
}
.modal form fieldset select {
    display: flex;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    color: #1f2937;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background-color: white;
}
.modal footer {
    display: flex;
    justify-content: flex-end;
}
.modal footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #16a34a;
    font-size: 14px;
    font-weight: bold;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}