#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding-top: 340px;
    box-sizing: border-box;
    gap: 10px;
}
#previous-page-container{
    display: flex;
    justify-content: flex-start;
    width: 1100px;
}
#previous-page-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: white;
    color: #808080;
    font-size: 16px;
    cursor: pointer;
}
#training-container{
    display: flex;
    min-height: 950px;
    max-height: 1000px;
    padding-bottom: 50px;
    gap: 24px;
}
#left-section{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 650px;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}
#top-section{
    height: 145px;
}
#middle-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 145px;
}
#bottom-section{
    height: 350px;
    padding-top: 20px;
}
#file-section{
    display: flex;
    flex-direction: column;
    height: 185px;
    padding-top: 40px;
    gap: 14px;
}
#file-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
#file-attach-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.file-input{
    display: none;
}
#file-label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #444444;
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px 8px 0 0;
    gap: 6px;
    cursor: pointer;
    overflow-x: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#file-label:hover{
    background-color: #f0f0f0;
}
#file-attach{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #444444;
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
    gap: 6px;
    cursor: pointer;
    overflow-x: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#file-attach:hover, #file-attach:hover #file-attach-svg {
    background-color: #f0f0f0;
    color: black;
    stroke: black;
}
#file-attach-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: #73a727;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
    height: 50px;
    width: 100%;
}
#file-attach-btn:hover{
    background-color: #659221;
}
.top-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
#top-section-date-state-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
.label{
    font-size: 16px;
    color: #444444;
    height: 25px;
}
#objectives{
    white-space: pre-wrap;
    height: 150px;
    max-height: 120px;
    overflow-y: auto;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 5px;
}
#content{
    white-space: pre-wrap;
    height: 150px;
    overflow-y: auto;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 5px;
}
#state{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #b5ffb5;
    color: #0c4d0c;
    border-radius: 8px;
    font-size: 14px;
    height: 30px;
    width: 110px;
}
#right-section{
    height: 100%;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}
#right-top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
    gap: 12px;
}
#right-middle-section{
    height: 750px;
    overflow-y: scroll;
}
#right-bottom-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    border-top: 1px solid lightgray;
}
.right-middle-participant-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    height: 100px;
}
.right-middle-participant-card-top-subcontainer{
    display: flex;
    flex-direction: column;
}
.right-middle-participant-card-top-subcontainer-staff{
    color: black;
}
.right-middle-participany-card-top-subcontainer-specialty{
    font-size: 14px;
    color: #444444;
}
.right-middle-participany-card-top-subcontainer-date{
    font-size: 13px;
    color: #444444;
}
.attendance{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #b5ffb5;
    color: #0c4d0c;
    border-radius: 8px;
    font-size: 14px;
    height: 20px;
    width: 80px;
    gap: 5px;
    padding-right: 5px;
}
#right-bottom-btn{
    height: 40px;
    width: 100%;
    background-color: rgb(115, 167, 39);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#right-bottom-btn:hover{
    background-color: rgb(101, 146, 33);
}
#right-bottom-btn-disabled{
    height: 40px;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(141, 137, 137);
    border-radius: 5px;
    color: gray;
    font-size: 16px;
}