.main{
        display: flex;
        flex-direction: column;
        width: 80%;
        min-height: 100vh;
        margin: 0 auto;
        margin-top: 90px;
        padding-bottom: 30px;
    }
    /* Header Section and Buttons */

    .header-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 250px;
        padding: 50px 100px 50px 50px;
        margin-top: 50px;
        border-radius: 16px;
        background: linear-gradient(150deg, #3b5513, #73a727);
        box-sizing: border-box;
    }
    .header-section-logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .logo{
        width: 150px;
        height: 150px;
        margin-bottom: 8px;
        object-fit: contain;
    }
    .logo:hover{
        transform: scale(1.02);
        transition: 0.2s ease-in-out;
    }
    .header-section h1{
        height: 24px;
        font-size: 32px;
        font-weight: bold;
        color: white;
    }
    .header-section p{
        font-size: 20px;
        color: #f0fdf4;
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        height: 350px;
        padding: 30px;
        margin-top: 30px;
        border: 1px solid #d4d4d4;
        border-radius: 8px;
        gap: 10px;
    }
    .form header {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .form header h1{
        font-size: 24px;
        font-weight: bold;
        color: #1f2937;
    }
    .form .form-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 18px;
    }
    .form .form-content .content-fields{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        gap: 20px;
    }
    .form .form-content fieldset {
        display: flex;
        flex-direction: column;
        border: none;
        gap: 8px;
    }
    .form .content fieldset label {
        font-size: 14px;
        font-weight: 500;
        color: #1f2937;
    }
    .form .form-content .content-fields fieldset select {
        box-sizing: border-box;
        width: 350px;
        height: 40px;
        padding: 5px;
        font-size: 14px;
        color: #1f2937;
        border: 1px solid #d1d5db;
        border-radius: 8px;
        background-color: white;
    }
    .form .form-content fieldset select:focus {
        outline: none;
        border-color: #15803d;
        box-shadow: 0 0 0 1px #15803d;
    }
    .form .form-content .content-fields fieldset .version{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 38px;
        font-size: 14px;
        color: #1f2937;
        border: 1px solid #d1d5db;
        border-radius: 8px;
        background-color: white;
    }
    .form .form-content fieldset .readonly{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 40px;
        font-size: 14px;
        color: #1f2937;
        border: 1px solid #d1d5db;
        border-radius: 8px;
        background-color: #f9fafb;
    }
    .form .form-content .content-fields fieldset .date-time-input{
        box-sizing: border-box;
        width: 464px;
        height: 40px;
        padding: 5px;
        font-size: 14px;
        color: #1f2937;
        border: 1px solid #d1d5db;
        border-radius: 8px;
        background-color: white;
    }
    .form footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 50px;
        margin-top: 20px;
        gap: 10px;
    }
    .form footer .add-task-button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 150px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        background-color: #16a34a;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        gap: 8px;
    }
    .form footer .add-task-button:hover{
        background-color: #15803d;
        transition: 0.1s ease-in-out;
    }
    .form footer .close-day-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 40px;
        background-color: #1f2937;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: 0.1s ease-in-out;
        gap: 8px;
    }
    .form footer .close-day-button:hover{
        background-color: #111827;
        transition: 0.1s ease-in-out;
    }
    .schedule-section {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: flex-start;
        box-sizing: border-box;
        width: 100%;
        height: 1400px;
        margin-top: 30px;
        padding: 30px;
        border: 1px solid #d4d4d4;
        border-radius: 8px;
    }
    .schedule-section header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }
    .schedule-section header div {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .schedule-section header div h1 {
        font-size: 24px;
        font-weight: bold;
        color: #1f2937;
    }
    .schedule-section header div input {
        box-sizing: border-box;
        width: 200px;
        height: 40px;
        padding: 5px;
        font-size: 14px;
        color: #1f2937;
        border: 1px solid #d1d5db;
        border-radius: 8px;
        background-color: white;
    }
    .schedule-section .schedule-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .schedule-section .schedule-content table {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 95%;
        overflow-x: auto;
        border: 1px solid #d1d5db;
        border-radius: 8px;
    }
    .schedule-section .schedule-content table tr{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        padding: 0px 0px 0px 20px;
        border-bottom: 1px solid #d1d5db;
    }
    .schedule-section .schedule-content table tr td {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #1f2937;
        height: 100%;
        width: 90px;
        border-right: 1px solid #d1d5db;
    }
    .schedule-section .schedule-content table tr .td-hh {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    font-size: 14px;
    color: #1f2937;
    height: 100%;
    width: 100%;
    border-right: none;
    padding: 0;
}

.schedule-section .schedule-content table tr .td-hh .task-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #d1fae5;
    gap: 8px;
    border-radius: 8px;
    padding: 12px 16px;
    box-sizing: border-box;
    border: 1px solid #a7f3d0;
    margin: 2px;
}